@charset "UTF-8";
@media screen and (max-width: 650px) {
  .mobile-hide, .phone-hide {
    display: none !important; } }
@media screen and (min-width: 650px) and (max-width: 899px) {
  ul.headline-block.elections li.headline-item {
    width: calc(50% - 10px) !important;
    -webkit-box-flex: inherit !important;
    -webkit-flex: inherit !important;
        -ms-flex: inherit !important;
            flex: inherit !important;
    margin-right: 10px !important; }

  .phone-hide {
    display: none !important; }

  ul.issues {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px; }
    ul.issues li.issue-tile {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(50% - 40px);
          -ms-flex: 0 0 calc(50% - 40px);
              flex: 0 0 calc(50% - 40px); }

  ul.videos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    ul.videos li.video-tile {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(50% - 10px);
          -ms-flex: 0 0 calc(50% - 10px);
              flex: 0 0 calc(50% - 10px);
      margin: 0px 0px 10px 10px; }

  div.schedule ul.day-labels li {
    width: 150px; }

  header.site-header#radio div.top-bar {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header.site-header#radio div.top-bar nav {
      position: relative; }
  header.site-header#radio a#site-logo-link {
    margin: 10px 10px; }
    header.site-header#radio a#site-logo-link img {
      width: 200px; }
  header.site-header#radio div.primary-menu nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header.site-header#radio div.primary-menu nav a#launch-player:hover {
      background-color: #9F1D2C; }
    header.site-header#radio div.primary-menu nav a#launch-player {
      font-size: 1.2em;
      padding: 10px 30px;
      width: 150px; }

  ul.popular-headline-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    ul.popular-headline-block li.headline-item:nth-of-type(even) {
      margin-right: 0px; }
    ul.popular-headline-block li.headline-item {
      width: calc(50% - 5px);
      margin-right: 10px;
      height: 100px; }

  ul.headline-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    ul.headline-block li.headline-item {
      width: calc(50% - 5px);
      -webkit-transition: 0.1s;
      transition: 0.1s; }
    ul.headline-block li.headline-item:first-of-type {
      margin-right: 10px; }
    ul.headline-block ul.horizontal-list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%; }
      ul.headline-block ul.horizontal-list li {
        width: 50%;
        height: 150px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; }
        ul.headline-block ul.horizontal-list li div {
          height: 100%;
          width: 60%;
          padding: 10px; }
          ul.headline-block ul.horizontal-list li div h3 {
            font-size: 1.2em;
            margin: 0px 0px;
            font-weight: normal; }
          ul.headline-block ul.horizontal-list li div p {
            font-size: 0.8em;
            margin: 10px 0px;
            color: #969696; }
        ul.headline-block ul.horizontal-list li img {
          width: 40%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          z-index: 1; }
      ul.headline-block ul.horizontal-list li:first-of-type {
        margin-right: 10px; }

  ul.headline-block#interviews li.headline-item:nth-of-type(1), ul.headline-block#interviews li.headline-item:nth-of-type(3) {
    margin-right: 10px; }

  ul#category.headline-block li.headline-item:nth-of-type(3) {
    margin-right: 10px; }

  ul.headline-block#reviews {
    margin: 0;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    ul.headline-block#reviews li.horizontal-headline-item:nth-of-type(1), ul.headline-block#reviews li.horizontal-headline-item:nth-of-type(3) {
      margin-right: 10px; }
    ul.headline-block#reviews li.horizontal-headline-item:nth-of-type(3), ul.headline-block#reviews li.horizontal-headline-item:nth-of-type(4) {
      height: 100px;
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(50% - 5px);
          -ms-flex: 0 0 calc(50% - 5px);
              flex: 0 0 calc(50% - 5px); }
    ul.headline-block#reviews li.horizontal-headline-item {
      background-color: #efefef;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: calc(50% - 5px);
      height: 130px; }

  body.frontend article.page main section.meta h2 {
    font-size: 5em;
    font-weight: normal;
    letter-spacing: normal; } }
@media screen and (min-width: 900px) {
  ul.issues {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px; }
    ul.issues li.issue-tile {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(33.3% - 40px);
          -ms-flex: 0 0 calc(33.3% - 40px);
              flex: 0 0 calc(33.3% - 40px);
      margin: 20px;
      background-color: #efefef;
      position: relative; }

  ul.videos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    ul.videos li.video-tile {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(33.3% - 10px);
          -ms-flex: 0 0 calc(33.3% - 10px);
              flex: 0 0 calc(33.3% - 10px);
      margin: 0px 0px 10px 10px; }

  div.schedule ul.day-labels li {
    width: 150px; }

  body.frontend article:first-of-type {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  body.frontend article.page main section.meta h2 {
    font-size: 6em;
    font-weight: normal;
    letter-spacing: normal; }
  body.frontend article main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    body.frontend article main section.meta figure img {
      height: 400px; }
    body.frontend article main section.meta h2 {
      font-size: 4em; }

  sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3%;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    padding: 0px 20px; }

  ul.popular-headline-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    ul.popular-headline-block li.headline-item:nth-of-type(3), ul.popular-headline-block li.headline-item:nth-of-type(6) {
      margin-right: 0px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(33.3% - 20px);
          -ms-flex: 0 0 calc(33.3% - 20px);
              flex: 0 0 calc(33.3% - 20px); }
    ul.popular-headline-block li.headline-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(33.3%);
          -ms-flex: 0 0 calc(33.3%);
              flex: 0 0 calc(33.3%);
      margin-right: 10px;
      overflow: hidden;
      height: 110px; }

  section#interviews-reviews, section#shows-twitter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    section#interviews-reviews aside.padded, section#shows-twitter aside.padded {
      padding: 0px 20px; }
    section#interviews-reviews aside, section#interviews-reviews sidebar, section#shows-twitter aside, section#shows-twitter sidebar {
      box-sizing: border-box; }
      section#interviews-reviews aside ul.headline-block#interviews, section#interviews-reviews sidebar ul.headline-block#interviews, section#shows-twitter aside ul.headline-block#interviews, section#shows-twitter sidebar ul.headline-block#interviews {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding: 20px 0px 20px 10px; }
        section#interviews-reviews aside ul.headline-block#interviews ul.horizontal-list, section#interviews-reviews sidebar ul.headline-block#interviews ul.horizontal-list, section#shows-twitter aside ul.headline-block#interviews ul.horizontal-list, section#shows-twitter sidebar ul.headline-block#interviews ul.horizontal-list {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 calc(50% - 5px);
              -ms-flex: 0 0 calc(50% - 5px);
                  flex: 0 0 calc(50% - 5px);
          margin-right: 10px; }
        section#interviews-reviews aside ul.headline-block#interviews ul.horizontal-list:last-of-type, section#interviews-reviews sidebar ul.headline-block#interviews ul.horizontal-list:last-of-type, section#shows-twitter aside ul.headline-block#interviews ul.horizontal-list:last-of-type, section#shows-twitter sidebar ul.headline-block#interviews ul.horizontal-list:last-of-type {
          margin-right: 0px; }
        section#interviews-reviews aside ul.headline-block#interviews li.headline-item, section#interviews-reviews sidebar ul.headline-block#interviews li.headline-item, section#shows-twitter aside ul.headline-block#interviews li.headline-item, section#shows-twitter sidebar ul.headline-block#interviews li.headline-item {
          margin-right: 10px;
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 calc(50% - 5px);
              -ms-flex: 0 0 calc(50% - 5px);
                  flex: 0 0 calc(50% - 5px);
          height: 270px; }
        section#interviews-reviews aside ul.headline-block#interviews li.headline-item:nth-of-type(2), section#interviews-reviews aside ul.headline-block#interviews li.headline-item:nth-of-type(4), section#interviews-reviews sidebar ul.headline-block#interviews li.headline-item:nth-of-type(2), section#interviews-reviews sidebar ul.headline-block#interviews li.headline-item:nth-of-type(4), section#shows-twitter aside ul.headline-block#interviews li.headline-item:nth-of-type(2), section#shows-twitter aside ul.headline-block#interviews li.headline-item:nth-of-type(4), section#shows-twitter sidebar ul.headline-block#interviews li.headline-item:nth-of-type(2), section#shows-twitter sidebar ul.headline-block#interviews li.headline-item:nth-of-type(4) {
          margin-right: 0px; }
    section#interviews-reviews aside:first-of-type, section#shows-twitter aside:first-of-type {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 67.6%;
          -ms-flex: 0 0 67.6%;
              flex: 0 0 67.6%; }
    section#interviews-reviews aside:last-of-type, section#shows-twitter aside:last-of-type {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 32.3%;
          -ms-flex: 0 0 32.3%;
              flex: 0 0 32.3%; }

  ul.headline-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
    ul.headline-block li.headline-item {
      margin-right: 10px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.3%;
          -ms-flex: 0 0 33.3%;
              flex: 0 0 33.3%;
      height: 270px; }
    ul.headline-block ul.horizontal-list.comment:first-of-type {
      margin-right: 10px; }
    ul.headline-block ul.horizontal-list.comment li div {
      margin-left: 45px; }
      ul.headline-block ul.horizontal-list.comment li div h3::before {
        content: "“";
        display: block;
        font-size: 600%;
        color: #9F1D2C;
        position: absolute;
        left: 10px;
        top: 5px;
        margin-top: -17px; }
    ul.headline-block ul.horizontal-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 270px; }
      ul.headline-block ul.horizontal-list li {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        ul.headline-block ul.horizontal-list li div {
          height: 100%;
          width: 60%;
          padding: 10px; }
          ul.headline-block ul.horizontal-list li div h3 {
            font-size: 1.2em;
            margin: 0px 0px;
            font-weight: normal; }
          ul.headline-block ul.horizontal-list li div p {
            font-size: 0.8em;
            margin: 10px 0px;
            color: #969696; }
        ul.headline-block ul.horizontal-list li img {
          width: 40%;
          -o-object-fit: cover;
             object-fit: cover;
          z-index: 1; }
      ul.headline-block ul.horizontal-list li:first-of-type {
        margin-right: 0px; }
      ul.headline-block ul.horizontal-list li:last-of-type {
        margin-bottom: 0px; }

  ul.headline-block#category {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    ul.headline-block#category li.headline-item:nth-of-type(4) {
      margin-right: 0px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(33.3% - 20px);
          -ms-flex: 0 0 calc(33.3% - 20px);
              flex: 0 0 calc(33.3% - 20px); }
    ul.headline-block#category ul.horizontal-list:first-of-type {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 calc(33.3% - 20px);
          -ms-flex: 0 0 calc(33.3% - 20px);
              flex: 0 0 calc(33.3% - 20px); }
    ul.headline-block#category ul.horizontal-list:last-of-type {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.3%;
          -ms-flex: 0 0 33.3%;
              flex: 0 0 33.3%;
      margin-right: 10px; }

  header.site-header#radio div.top-bar {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header.site-header#radio div.top-bar nav {
      position: relative; }
  header.site-header#radio a#site-logo-link {
    margin: 10px 10px; }
    header.site-header#radio a#site-logo-link img {
      width: 200px; }
  header.site-header#radio div.primary-menu nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header.site-header#radio div.primary-menu nav a#launch-player:hover {
      background-color: #9F1D2C; }
    header.site-header#radio div.primary-menu nav a#launch-player {
      font-size: 1.2em;
      padding: 10px 30px;
      width: 150px; }

  ul.headline-block.elections li.headline-item {
    width: calc(33.3% - 10px) !important;
    -webkit-box-flex: inherit !important;
    -webkit-flex: inherit !important;
        -ms-flex: inherit !important;
            flex: inherit !important;
    margin-right: 10px !important; } }
@media screen and (min-width: 1500px) {
  .limited-width {
    max-width: 1200px; }

  body.frontend article main section.meta h2 {
    font-size: 6em;
    line-height: 1em; } }
