// Styles affecting the wordpress admin panels and login page

@import "variables.sass"

// body.frontend
//   div#wpadminbar
//     background-color: #505050
//     div.quicklinks
//       max-width: $width
//       margin: 0 auto

tr.user-profile-picture
  display: none

body.login
  background-image: url('../img/login.png')
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center
  background-size: cover

.login h1 a
  background-image: url('../img/swirl%20red.png')

.login label
  font-size: 12px
  color: #555555


.login input[type="text"]
  background-color: #ffffff
  border-color: #dddddd
  -webkit-border-radius: 4px


.login input[type="password"]
  background-color: #ffffff
  border-color: #dddddd
  -webkit-border-radius: 4px

div#smoke_post_options
  background-color: rgba(189, 66, 66, 0.07)

  hr
    border-top: none
