// Colours
$text: #505050
$light-text: #969696
$background: #fafafa
$light-grey: #efefef
$mid-grey: #dfdfdf
$brand: #9C2032

// Font stacks
$h-stack: League Gothic, sans-serif
$p-stack: Adobe Garamond, sans-serif

// Dimensions
$width: 1200px
