// Colours
$text: #505050
$light-text: #969696
$background: #fafafa
$light-grey: #efefef
$mid-grey: #dfdfdf
$brand: #9F1D2C

// Font stacks
$h-stack: "League Gothic", "league-gothic"
$p-stack: "Adobe Garamond Pro", "adobe-garamond-pro"

// Dimensions
$width: 1000px
